<% for (post in posts) { %>
<div class="post">
    <h1>Posted by <%= posts[post].user.name %></h1>
    <p><%= posts[post].content %></p>
    <div>
        <span class="badge">Posted <%- moment(posts[post].createdAt).format('MMMM Do YYYY, h:mm:ss a') %></span>
    </div>
    <hr>
</div>
<% } %>
