<div class="container-fluid">
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <div class="text-center">
                <h1>Blog Posts></h1>
                <hr/>
            </div>
            <div class="post">
                <h1>Alice in Wonderland, part dos</h1>
                <p>'You ought to be ashamed of yourself for asking such a simple question,' added the Gryphon; and then they both sat silent and looked at poor Alice, who felt ready to sink into the earth. At last the Gryphon said to the Mock Turtle, 'Drive on, old fellow! Don't be all day about it!' and he went on in these words:
                    'Yes, we went to school in the sea, though you mayn't believe it—'
                    'I never said I didn't!' interrupted Alice.
                    'You did,' said the Mock Turtle.</p>
                <div>
                    <span class="badge">Posted 2012-08-02 20:47:04</span><div class="pull-right"><span class="label label-default">alice</span> <span class="label label-primary">story</span> <span class="label label-success">blog</span> <span class="label label-info">personal</span> <span class="label label-warning">Warning</span>
                        <span class="label label-danger">Danger</span></div>
                </div>
                <hr>
            </div>
            <div class="col-md-12">
                <div class="form-group">
                    <form method="post" action="/post" class="form-horizontal" role="form" id="postForm">
                        <textarea placeholder="Post Something !" class="row-fluid" name="content" style="width:100%"></textarea>
                        <button type="submit" class="btn btn-success green"><i class="fa fa-share"></i>Post</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-3"></div>
    </div>
</div>
</div>

<% block('localScripts', '<script src="/js/posts.js"></script>') %>